
body {
  font-family: 'Share', Helvetica, serif;
  background: url('background.jpeg') no-repeat fixed;
}

header {
  padding: 20px 0 20px 0;
}

header .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header h1 {
  margin: 0;
  color: white;
}

header p {
  font-size: 15px;
  border-bottom: 1px solid black;
  border right: 0.5px solid black;
  padding: 0 10px 0 10px;
  margin: 0;
  color: white;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('jumbotron.jpg');
  color: white;
  background-size: cover;
  text-shadow: 4px 4px 4px #000000;
}

.jumbotron h2 {
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin-top: -10px;
}

.jumbotron h3 {
  font-size: 20px;
  color: white;
}

.bitcoin {
  display: block;
  float: right;
  margin-top: -120px;
  margin-right: 12px;
}

#contacto {
  color: white;
}

#modelo1 {
  text-align: center;
}

#donde {
  text-align: center;
}

strong#total {
  color: crimson;
}

figure p#modelo {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 14px;
}

figure {
  display: inline-block;
}

figure p#precio {
  font-size: 30px;
  color: red;
  padding: 5px;
}

figure#laptops {
  border: 1px solid white;
  margin: 3px 10px 10px 3px;
  justify-content: center;
}

figure p {
  text-align: center;
  color: white;
}

img#laptops {
  display: block;
  width: 400px;
  margin-bottom: 15px;
}

footer p#copyright {
  padding: 0 20px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

footer ul#listaderedes {
  list-style: none;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

footer li#redes {
  padding: 0;
  float: right;
}

img#redes {
  display: inline-flex;
  justify-content: flex-end;
  padding: 0 10px;
  margin: 20px 0 0 0;
}

@media (min-width: 720px) {
  header.p {
    display: inline-flex;
  }
}

@media (min-width: 720px) {
  .jumbotron {

  }
}
