body {
  font-family: 'Share', Helvetica, serif;
  color: white;
  background: url('../background.jpeg');
  text-align: center;
}

strong {
  color: crimson;
}

input {
  margin-top: 20px;
}

input#comprar {
  margin-top: 30px;
}
